.text-portfolio-detail {
  text-align: center;
  vertical-align: top;
  padding: 30px 10%;
}

.section-portfolio-detail {
  text-align: center;
  vertical-align: top;
  padding-top: 100px;
  padding-bottom: 1%;
}
/* .portfoli-image-section {
  background-image: url(../images/title/2а.jpg);
  text-align: center;
  background-size: cover;
  background-position: center;
} */

.image-padding {
  padding: 1%;
}

#lenina46 .border-0 {
  padding: 0% 0 5% 0;
}
#bataisk .border-0 {
  padding: 0% 0 5% 0;
}
#veresaevo .border-0 {
  padding: 0% 0 5% 0;
}
