/* .above-image-title {
  position:absolute;
  top: 5%;
} */

.above-image-footer {
  padding: 68vw 0 10% 0;
}

h1 {
  font-family: "Montserrat";
  font-size: 5rem;
  line-height: 1.5;
}
h2 {
  font-family: "Montserrat";
  line-height: 1.5;
}
h3,h4,h5 {
  font-family: "Source Sans 3";
}
li {
  text-align: left
}
/* Headings */
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Sections */
.colored-section {
  background-color: #E3E1D9;
  /* color: #B4B4B8; */
}
.white-section {
  background-color: #fff;
  text-align: center;
}

/* НАВБАР */

/* Title Section --------------------------------------------------------------*/
#title .cont-fluid {
  position:absolute;
  top: 25%;
  left:10%;
  padding: 20%;
  text-align: center;
  width: 80%;
  color: #fff;
}

.title-sec {
  padding: 20px 0;
}

/* #title .img{
    height: 100vh;
    width: 100vh; */
  /* object-fit: cover; */
  /* background-size: cover;
  top: 0px;
  left: 0px;
} */

.title-img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  top: 0px;
  left: 0px;
}
.container-image {
  height:100vh;
  width:100%;
  overflow:hidden;
  border: 0;
}

@media (max-width: 1100px) {
  .container-image{
    height:100%;
    width:100%;
    overflow:hidden;
    border: 0;
  }
  .section-heading {
    font-size: 2rem;
    line-height: 1;
  }
  #title .card-title {
    font-size: 4rem;
    line-height: 1.5;
  }
  #title .card-text {
    font-size: 1.2rem;
    line-height: 1;
  }
  #title .cont-fluid {
    position:absolute;
    top: 10%;
    padding-left: 5%;
    text-align: center;
    /* height: 80%; */
    width:90%;
    color: #fff;
  }
}

@media (max-width: 900px) {
  .container-image{
    height:100%;
    width:100%;
    overflow:hidden;
    border: 0;
  }
  .section-heading {
    font-size: 1.5rem;
    line-height: 1;
  }

  #title .card-title {
    font-size: 2rem;
    line-height: 1.5;
  }
  #title .card-text {
    font-size: 1rem;
    line-height: 1;
  }
}

@media (max-width: 700px) {
  .container-image{
    height:100%;
    width:100%;
    overflow:hidden;
    border: 0;
  }

  .section-heading {
    font-size: 1.5rem;
    line-height: 1;
  }
  #title .card-title {
    font-size: 3rem;
    line-height: 1.5;
  }
  #title .card-text {
    font-size: 0.8rem;
    line-height: 1;
  }
  #title .cont-fluid {
    left:5%;
  }

}

/* Портфолио проектов ----------------------------------------------------------------------*/
.portfolio-sec {
  padding: 60px 0 20px;
}
.portfolio-container {
  width: 100%;
  padding: 0 10% 0 10%;
  text-align: center;
}
.portfolio-column {
  padding: 2% 2%;
}

.portfolio-text {
  font-size: 3rem;
  line-height: 1.5;
}
.portfolio-text-center {
  height: 100px;
  text-align: center;
}

/* ЧТО ВХОДИТ В РАБОТУ----------------------------------------------------------------- */

.askme {
  padding: 50px 15%;
}
.askme-heading {
  padding: 5%;
  height: 100px;
}
.askme-button-img {
  height: 80px;
  text-align: left;
  vertical-align: middle;
}
.askme-button-text {
  vertical-align: middle;
}
.transparent-img {
  opacity: 0.2;
    height:1000px;
    /* width: 100%; */
}
.easy-for-you {
  padding: 285px 15%;
}
.about-work {
  padding: 5% 15%;
  font-size: 20px;
  text-align: center;
}
.button-about-work {
  font-size: 20px;
  padding: 2%;
  line-height: 30px;
}

.button-askme {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  line-height: 30px;
}
.container-image-askme {
  position: relative;
  height:1000px;
  width:100%;
  border: 0;
}
.cont-fluid-askme {
  position: absolute;
  height:1000px;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%
  color: black;
}
.easy-heading {
  font-family: "Montserrat";
  line-height: 1.5;
}
#askme .card-title {
  color: black;
}

/* #askme .container-image {
  position: relative;
} */
@media (max-width: 900px){
  .askme-heading {
    text-align: center;
  }
  .easy-for-you {
    padding: 5% 15%;
  }
  .container-image-askme {
    height: 1100px;
      }
  /* #askme .section-heading {
    font-size: 1.2rem;
  } */
  .easy-heading {
    font-size: 1rem;
    color: #B4B4B8;
  }
}

/* ОБО мне ---------------------------------------------------------------------*/
.aboutme-heading {
    padding: 40px 0 20px;
    text-align: center;
}
.aboutme-sec {
  padding-top: 2% ;
  padding: 2% 20% 5%;
}
.aboutme-container {
  padding: 3% 5%;
  /* width: 90%; */
  text-align: center;
}
.img-aboutme-box{
  text-align: center;
}
.text-aboutme {
  text-align: justify;
  vertical-align: top;
}

#aboutme h4 {
  font-family: "Montserrat";
  line-height: 1.2;
}

#aboutme .carousel-caption {
    position: absolute;
    right: 15%;
    top: 1.5rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #000;
    text-align: center;
  }
@media (max-width: 900px) {
  .aboutme-sec {
    padding-top: 2% ;
    padding: 2% 12% 5%;
  }
}
  @media (max-width: 700px) {
  #aboutme p {
    font-size: 0.8rem;
  }
  #aboutme .carousel-caption {
      position: absolute;
      right: 15%;
      top: 0;
      left: 15%;
      padding-top: 0.5rem;
      padding-bottom: 1.25rem;
      color: #000;
      text-align: center;
    }
}

/* СТОИМОСТЬ ДИЗАЙН-ПРОЕКТА */
.price-class {
  padding: 60px 15%;
}
.price-text {
  text-align: center;
  padding: 0 0 20px;
}
.price-button-area {
  text-align: center;
  padding-top: 50px;
}
.price-sec {
  padding: 2% 0;
}
.price-button {
  width: 100%;
  padding: 20px 40px;
  font-size: 20px;
  line-height: 30px;
  font-family: "Montserrat"
}
.card-header-text {
    font-size: 1.3rem;
    font-family: "Montserrat";
    text-align: center;
    vertical-align: middle;
}
#price .card-title {
  font-size: 1.1rem;
  font-family: "Montserrat";
  height: 45px;
}
#price .card-text {
  height: 60px;
}
/* #price .row {
  display: flex;
  flex-direction: row;
} */
/* #price .card {
  height: 450px;
} */

/* ОТЗЫВЫ ______________________________________________________________*/

.review-class {
  padding: 60px 12% 50px;
}
.image-wrapper{
  display: flex;
}
.rewiew-img {
  margin:0 .5em;
  width: calc(100%/3)

}
.review-heading {
  padding: 0 0 3% 0;
}


/* КОНТАКТЫ */
.contacts {
  padding: 60px 10% 40px;
}
.contact-button {
  padding:1% 0;
  text-align: center;
}
.social-icon {
  margin: 20px 10px;
  color: #000;
}
.contact-input {
  padding: 5%;
}
.contact-heading {
  height: 150px;
  padding: auto
}
#contacts .link {
  /* text-decoration: none; */
  /* color: #e9e8e4 */
}
/* .map {
  text-align: center;
  padding: 60px 0;
} */


/* footer */
#footer .row{
  width: 100%;
}


/* футер */
.footer-logo {
  padding: 1% 0% 0%;
  justify-content: center;
  display: flex;
}
